/**
 * COScroll 滚动插件
 */
.cosroll-box{width:100%;height:100%;overflow:hidden;border:0;margin:0;padding:0}
.cosroll-box .main{padding:1em}
.COScroll{position:relative}
.COScroll .x,.COScroll .y{position:absolute;background:#484642;background:rgba(0,0,0,.3)}
.COScroll .x{width:100%;left:0;bottom:0}
.COScroll .y{height:100%;top:0;right:0}
.COScroll .x .thumb,.COScroll .y .thumb{position:absolute;background:#1E1E1C;background:rgba(0,0,0,.6);border-radius:5px}
.COScroll .x .thumb{height:100%;bottom:0}
.COScroll .y .thumb{width:100%;left:0}

/**
 * COModal 弹出层插件
 */
.comodal{-moz-box-shadow:0 1px 10px #adabab;-webkit-box-shadow:0 1px 10px #adabab;box-shadow:0 1px 10px #adabab;left:50%;top:50%;margin-right:0;margin-bottom:0;position:fixed;border-style:solid;background-color:#FFF}
.comodal_header{position:relative}
.comodal_header_border{border-bottom:1px solid #DDD}
.comodal_title{padding:0 20px 0 15px}
.comodal_title_move{cursor:move}
.comodal_header_close_normal{position:absolute;opacity:.5;filter:alpha(opacity=50);top:15px;right:15px;width:20px;height:20px;cursor:pointer;background:url(../images/close20x20.png) no-repeat}
.comodal_header_close_circle{position:absolute;opacity:1;filter:alpha(opacity=100);top:-16px;right:-16px;width:32px;height:32px;cursor:pointer;background:url(../images/close_circle_white32x32.png) no-repeat;z-index:888}
.comodal_header_close_normal:hover{opacity:.8;filter:alpha(opacity=80)}
.comodal .comodal_body{overflow:auto;float:none}
.comodal_img_center{position:relative}
.comodal_body_img_center{position:absolute;margin:auto;top:0;left:0;right:0;bottom:0}
.comodal_footer{text-align:left;border-top:1px solid #DDD;padding:0 15px 0 15px}
.comodalOverlay{display:none;width:100%;height:100%;position:fixed;top:0;left:0;background:#000;opacity:.7;filter:alpha(opacity=70)}
.comodalLoadingImg{background:url(../images/loading38x38.gif) no-repeat center}
.comodalLoadingText{width:100%;text-align:center;margin-top:8px}
.COModal_drag{position:fixed;border:1px dotted #666;cursor:move;background-color:#fff;filter:alpha(opacity=50);opacity:.5}
.comodal_iframe{padding:0;margin:0;border:0;outline:0;vertical-align:top;display:block;width:100%;height:100%}

/**
 * COSlide-simple 简版轮播 插件
 */
.coslide-simple{ position:relative; width:100%; overflow:hidden;}
.coslide-simple ul.items{ width:100%;position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
.coslide-simple ul.items li{ width:100%;float:left; background:none; list-style:none; padding:0px; margin:0px;}
.coslide-simple ul.items li a{ width:100%;float:left; line-height:normal !important; padding:0px !important; border:none;}
.coslide-simple ul.items li a img{ width:100%;margin:0px !important;padding:0px !important; display:block; border:none;}
.coslide-simple div.tips{ position:absolute; bottom:0px; width:100%; height:50px; background-color:#000; overflow:hidden;}
.coslide-simple div.tips div.title{ position:absolute; left:0px; top:0px; height:100%;}
.coslide-simple div.tips div.title a{ color:#FFF; font-size:18px; line-height:50px; margin-left:10px; text-decoration:none;}
.coslide-simple div.tips div.title a:hover{ color:#093 !important;}
.coslide-simple div.tips div.nums{ position:absolute; right:0px; top:0px; height:100%;}
.coslide-simple div.tips div.nums a{ display:inline-block;float:left; width:20px; height:20px; background-color:#FFF; text-indent:-99999px; margin:15px 10px 0px 0px;}
.coslide-simple div.tips div.nums a.active{ background-color:#093;}

/**
 * COSlide3D 3D轮播 插件
 */
.coslide-3d{height:300px;width:100%;background-color:#e0e0e0;position:relative;}
.coslide-3d img{border:3px solid #fff;}
.coslide-3d .feature{position:absolute;top:-1000px;left:-1000px;border:0;cursor:pointer;}
.coslide-3d .feature div{position:absolute;bottom:0;left:0;background-color:#000;width:100%;border:3px solid #fff;border-top:0;}
.coslide-3d .feature div p{margin:0;padding:5px;font-weight:700;font-size:12px;color:#fff;}
.coslide-3d .blipsContainer{position:absolute;color:#fff;right:10px;bottom:10px;padding:0;margin:0;}
.coslide-3d .blipsContainer .blip{margin:3px;height:14px;width:14px;color:#fff;text-align:center;font-size:10px;border:1px dotted #000;}
.coslide-3d .blipsContainer .blipSelected{color:#fff;font-weight:700;background-color:#000;}

/**
 * COSlideCircle 圆形轮播 插件
 */
.coslide-circle{position:relative;width:400px;height:400px;border:10px solid #cc2724;border-radius:50%;margin:0 auto;-webkit-perspective:1200px;-moz-perspective:1200px;perspective:1200px}
.coslide-circle nav{top:0;height:100%;width:100%;position:absolute;z-index:10000}
.coslide-circle nav>div{position:absolute;height:100%;top:0;width:50%}
.coslide-circle nav .cosc-left{left:0}
.coslide-circle nav .cosc-right{right:0}
.coslide-circle nav>div span{height:33%;width:100%;position:absolute;left:0;cursor:pointer}
.coslide-circle nav>div span:first-child{top:0}
.coslide-circle nav>div span:nth-child(2){top:33%}
.coslide-circle nav>div span:nth-child(3){top:66%}
.coslide-circle nav i,.no-csstransforms3d .coslide-circle nav>div span{position:absolute;width:100%;height:40px;top:50%;margin-top:-20px;pointer-events:none;opacity:0;-webkit-backface-visibility:hidden;-webkit-transition:all .2s ease;-moz-backface-visibility:hidden;-moz-transition:all .2s ease;backface-visibility:hidden;transition:all .2s ease}
.no-csstransforms3d .coslide-circle nav>div span{z-index:1000;width:40px;background:rgba(0,0,0,0)}
.no-csstransforms3d .coslide-circle nav .cosc-left span{left:-80px}
.no-csstransforms3d .coslide-circle nav .cosc-right span{right:-80px;left:auto}
.no-csstransforms3d .coslide-circle nav i{width:40px;cursor:pointer}
.coslide-circle nav .cosc-left i{-webkit-transform-origin:100% 50%;-moz-transform-origin:100% 50%;transform-origin:100% 50%;text-align:left}
.coslide-circle nav .cosc-right i{-webkit-transform-origin:0 50%;-moz-transform-origin:0 50%;transform-origin:0 50%;text-align:right}
.coslide-circle nav i.icon-arrow-left{left:0}
.no-csstransforms3d .coslide-circle nav i.icon-arrow-left{left:-100px}
.coslide-circle nav i.icon-arrow-right{right:0}
.no-csstransforms3d .coslide-circle nav i.icon-arrow-right{right:-60px}
.icon-arrow-left:before,.icon-arrow-right:before{font-family:entypo;speak:none;font-style:normal;font-weight:400;font-size:20px;background:#cc2724;color:#fff;width:40px;height:40px;line-height:40px;text-align:center;display:inline-block;margin:0 20px;border-radius:20% 10% 50% 5%/25% 10% 30% 75%;-webkit-font-smoothing:antialiased}
.icon-arrow-left:before{content:"\003C"}
.icon-arrow-right:before{content:"\003E"}
.csstransforms3d .coslide-circle nav>div span:hover~i,.no-csstransforms3d .coslide-circle nav i,.no-csstransforms3d .coslide-circle nav>div span{opacity:1}
.csstransforms3d .coslide-circle nav>div span:nth-child(2):hover~i{-webkit-transform:rotate(0);-moz-transform:rotate(0);transform:rotate(0)}
.csstransforms3d .coslide-circle nav>.cosc-left span:first-child:hover~i,.csstransforms3d .coslide-circle nav>.cosc-right span:nth-child(3):hover~i{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}
.csstransforms3d .coslide-circle nav>.cosc-left span:nth-child(3):hover~i,.csstransforms3d .coslide-circle nav>.cosc-right span:first-child:hover~i{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);transform:rotate(-45deg)}
ul.cosc-slides{list-style:none;margin:0;padding:0}
ul.cosc-slides li{display:none}
.no-js ul.cosc-slides li{display:block}
.cosc-flip{width:100%;height:100%;border-radius:50%;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d}
.cosc-flip div{width:100%;height:100%;position:absolute;border-radius:50%;top:0;left:0;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden}
.cosc-flip .cosc-back{-webkit-transform:rotateY(-180deg);-moz-transform:rotateY(-180deg);transform:rotateY(-180deg)}
.coslide-circle img{border-radius:50%}
.coslide-circle h3{position:absolute;color:#fff;top:50%;margin-top:30px;line-height:50px;height:50px;left:80px;right:80px;background:#ff514c;font-size:22px;text-transform:uppercase;letter-spacing:2px;text-align:center;border-radius:20% 10% 50% 5%/25% 10% 30% 75%}
.cosc-overlay-dark,.cosc-overlay-light{opacity:0}
.cosc-overlay-light{background:rgba(255,255,255,1)}
.cosc-overlay-dark{background:rgba(0,0,0,1)}
.no-js .coslide-circle{height:auto;box-shadow:none}
.no-js .coslide-circle h3{position:relative;width:auto;height:auto;left:auto;right:auto;top:auto;margin:5px}
.coslide-circle.cosc-sm{width:300px;height:300px;}
.coslide-circle.cosc-sm .icon-arrow-left:before,.coslide-circle.cosc-sm .icon-arrow-right:before{font-size:20px;width:30px;height:30px;font-size:18px;line-height:30px;}
.coslide-circle.cosc-sm h3{line-height:40px;height:40px;}
.coslide-circle.cosc-xs{width:200px;height:200px;border-width:7px;}
.coslide-circle.cosc-xs .icon-arrow-left:before,.coslide-circle.cosc-xs .icon-arrow-right:before{display:none;}
.coslide-circle.cosc-xs h3{line-height:30px;height:30px;font-size:14px;left:45px;right:45px;font-weight:200;}
.coslide-circle.cosc-ty{width:120px;height:120px;border-width:6px;}
.coslide-circle.cosc-ty .icon-arrow-left:before,.coslide-circle.cosc-ty .icon-arrow-right:before{display:none;}
.coslide-circle.cosc-ty h3{line-height:20px;height:20px;font-size:12px;left:15px;right:15px;font-weight:200;}
.coslide-circle.cosc-primary{border-color:#2894FF;}
.coslide-circle.cosc-primary .icon-arrow-left:before,.coslide-circle.cosc-primary .icon-arrow-right:before{background-color:#2894FF;}
.coslide-circle.cosc-primary h3{background-color:#0000E3;}
.coslide-circle.cosc-premium{border-color:#3c3c3c;}
.coslide-circle.cosc-premium .icon-arrow-left:before,.coslide-circle.cosc-premium .icon-arrow-right:before{background-color:#3c3c3c;}
.coslide-circle.cosc-premium h3{background-color:#000;}
.coslide-circle.cosc-grand{border-color:#FFAF60;}
.coslide-circle.cosc-grand .icon-arrow-left:before,.coslide-circle.cosc-grand .icon-arrow-right:before{background-color:#FFAF60;}
.coslide-circle.cosc-grand h3{background-color:#EA7500;}
.coslide-circle.cosc-dew{border-color:#D2E9FF;}
.coslide-circle.cosc-dew .icon-arrow-left:before,.coslide-circle.cosc-dew .icon-arrow-right:before{background-color:#D2E9FF;}
.coslide-circle.cosc-dew h3{background-color:#ACD6FF;}

/**
 * COMenuDrop 多级菜单 插件
 */
.comenu-drop{background:white;height:30px;margin:0;padding:0;position:relative;}
.comenu-drop a{text-decoration:none;color:#777;font-family: 'MuseoSlab500Regular', arial, helvetica, sans-serif; text-shadow: none; text-decoration: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;  margin: 0; padding: 0 12px; display: block; background: none; position: relative; z-index: 20; font-size: 14px; font-weight: normal; line-height: 18px; background: none repeat scroll 0 0 transparent; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; height:30px;}
.comenu-drop a:hover{color:#169FE6;line-height:30px;}
.comenu-drop li{list-style-type:none;display:block;float:left;position:relative;height:30px;}
.comenu-drop .active a:first{color:#169FE6;}
.comenu-drop .sub-nav{padding:0;display:none;position:absolute;left:10px;top:30px;width:120px;z-index:100;}
.comenu-drop .sub-nav li{position:relative;display:block;width:120px;height:30px;padding:0;border-top:1px solid #ECF5FF;border-radius:5px;border-top-radius:0;border-top-left-radius:0;border-top-right-radius:0;}
.comenu-drop .sub-nav li a{display:block;width:120px;height:30px;line-height:30px;padding:0;text-indent:1em;overflow:hidden;background-color:white;border-radius:5px;color:#777;}
.comenu-drop .sub-nav li a:hover{background-color:#ECF5FF;color:#000;}
.comenu-drop .sub-nav ul{padding:0;display:none;position:absolute;left:120px;top:7px;}
.comenu-drop .sub-nav ul li{position:relative;display:block;width:120px;height:30px;padding:0;}
.comenu-drop .sub-nav,.comenu-drop .sub-nav ul{border:1px solid #169FE6;border-top:3px solid #169FE6;border-right-bottom-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-left-bottom-radius:5px;background-color:white;}
.comenu-drop.comenu-vertical li{float:left;clear:left;width:120px;text-align:right;}
.comenu-drop.comenu-vertical .sub-nav{left:119px;top:7px;text-align:left;}
.comenu-drop.comenu-vertical .sub-nav li{text-align:left;}
.comenu-drop .mobile-menu:before{content:"\2720";}
.comenu-drop .mobile-menu{ width:35px;height:35px;border:2px solid #ccc;border-radius:5px;background:#f0f0f0;float:right;cursor:pointer;display:none;color:#ccc;line-height:30px;font-size:24px;font-weight:900;text-align:center;}
.comenu-drop .mobile-menu-list{position:absolute;right:5px;top:40px;width:200px;border:2px solid #ccc;border-radius:3px;background-color:#f0f0f0;color:#adadad;display:none;}
.comenu-drop .mobile-menu-list .mobile-menu-ul{width:100%;background-color:#f0f0f0;color:#adadad;}
.comenu-drop .mobile-menu-list .mobile-menu-ul .item{width:100%;background-color:#f0f0f0;color:#adadad;border-bottom:1px dashed #e0e0e0;}
.comenu-drop .mobile-menu-list .mobile-menu-ul .item:last-child{border-bottom:0;}

/**
 * COMenuArc 弧形展开菜单 插件
 */
.comenu-arc{position:fixed;}
.comenu-arc .comenu-arc-list{list-style-type:none;position:absolute;top:0;left:0;margin:0;padding:0;text-align:center;cursor:pointer;border-radius:50%;}
.comenu-arc .comenu-arc-list .comenu-arc-main{margin:0;padding:0;text-align:center;cursor:pointer;border-radius:50%;position:absolute;top:0;left:0;text-align:center;z-index:20;}
.comenu-arc .comenu-arc-list>li{position:absolute;width:100%;height:100%;border-radius:50%;-webkit-border-radius:50%;transition:all .6s;-webkit-transition:all .6s;-moz-transition:.6s;z-index:15;}
.comenu-arc .comenu-arc-list .comenu-arc-main:after{content:attr(data-close);border-radius:50%;-webkit-border-radius:50%;}
.comenu-arc .comenu-arc-list .comenu-arc-main.active:after{content:attr(data-open);}
.comenu-arc .comenu-arc-list li a{display:block;border-radius:50%;-webkit-border-radius:50%;text-decoration:none;font-size:0.8em;}   

/**
 * COMenuPiano 钢琴按键菜单 插件
 */
.comenu-piano{position:relative;float:left}
.comenu-piano ul{list-style:none;display:block;width:200px;position:relative;padding:30px 0 30px 0;background:url('../images/pre-shad.png') no-repeat;-webkit-background-size:50% 100%;}
.comenu-piano li{margin:5px 0 0 0;}
.comenu-piano ul li a{-webkit-transition:all .3s ease-out;background:#cbcbcb url('../images/pre-border.png') no-repeat;color:#174867;padding:7px 15px 7px 15px;-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:10px;width:100px;display:block;text-decoration:none;-webkit-box-shadow:2px 2px 4px #888;}
.comenu-piano ul li a:hover{background:#ebebeb url('../images/pre-border.png') no-repeat;color:#67a5cd;padding:7px 15px 7px 30px;width:115px;}

/**
 * COMenuTree 树状菜单 插件
 */
.comenu-tree,.comenu-tree ul{padding:0;margin:0;list-style:none}
.comenu-tree ul{margin-top:4px}
.comenu-tree .hitarea{background:url(../images/tree-icons/treeview-default.gif) -64px -25px no-repeat;height:16px;width:16px;margin-left:-16px;float:left;cursor:pointer}
* html .hitarea{display:inline;float:none}
.comenu-tree li{line-height:12px;margin:0;padding:3px 0 3px 16px}
.comenu-tree .hover{color:#2F96B4;cursor:pointer}
.comenu-tree li{background:url(../images/tree-icons/treeview-default-line.gif) 0 0 no-repeat}
.comenu-tree li.collapsable,.comenu-tree li.expandable{background-position:0 -176px}
.comenu-tree .expandable-hitarea{background-position:-80px -3px}
.comenu-tree li.last{background-position:0 -1766px}
.comenu-tree li.lastCollapsable,.comenu-tree li.lastExpandable{background-image:url(../images/tree-icons/treeview-default.gif)}
.comenu-tree li.lastCollapsable{background-position:0 -111px}
.comenu-tree li.lastExpandable{background-position:-32px -67px}
.comenu-tree div.lastCollapsable-hitarea,.comenu-tree div.lastExpandable-hitarea{background-position:0}
.tree-control{margin:0 0 10px;display:none}
.tree-control a{color:#2F96B4;font-size:11px;padding-right:15px;vertical-align:middle}
.comenu-tree.comenu-tree-blue .hitarea,.comenu-tree.comenu-tree-blue li.lastCollapsable,.comenu-tree.comenu-tree-blue li.lastExpandable{background-image:url(../images/tree-icons/treeview-red.gif)}
.comenu-tree.comenu-tree-blue li{background-image:url(../images/tree-icons/treeview-red-line.gif)}
.comenu-tree.comenu-tree-black li span,.comenu-tree.comenu-tree-gray li span{line-height:13px;padding-left:3px}
.comenu-tree.comenu-tree-black li{background-image:url(../images/tree-icons/treeview-black-line.gif)}
.comenu-tree.comenu-tree-black .hitarea,.comenu-tree.comenu-tree-black li.lastCollapsable,.comenu-tree.comenu-tree-black li.lastExpandable{background-image:url(../images/tree-icons/treeview-black.gif)}
.comenu-tree .placeholder{background:url(../images/tree-icons/ajax-loader.gif) 0 0 no-repeat;height:16px;width:16px;display:block}
.comenu-tree li a,.comenu-tree.comenu-tree-blue li span,.comenu-tree.comenu-tree-file span{color:#777;line-height:13px;padding-left:3px}
.comenu-tree.comenu-tree-file li{padding:3px 0 2px 16px}
.comenu-tree.comenu-tree-file span.file,.comenu-tree.comenu-tree-file span.folder{padding:1px 0 1px 21px;display:block}
.comenu-tree.comenu-tree-file span.folder{background:url(../images/tree-icons/folder.png) 0 0 no-repeat}
.comenu-tree.comenu-tree-file li.expandable span.folder{background:url(../images/tree-icons/folder-closed.png) 0 0 no-repeat}
.comenu-tree.comenu-tree-file span.file{background:url(../images/tree-icons/file.png) 0 0 no-repeat}

/**
 * COAccordion 手风琴
 */
.cotext-accordion { width:100%;}
.cotext-accordion .text { display:none;background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #F0F0F0; padding:22px 7px 7px 22px; }
.cotext-accordion .text .img-border { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #E7E7E7; display: inline-block; float: left; margin: 4px 20px 0 0; padding: 5px; }
.cotext-accordion .text p { margin-bottom:15px; border:none; text-decoration:none;color:#888888;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:22px;}
.cotext-accordion .title { background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-color: #F9F9F9; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1); -moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1); box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1); cursor:pointer;display:block; padding: 0; margin-top:-1px; font-family: 'MuseoSlab500Regular', arial, helvetica, sans-serif; font-size: 13px; font-weight:bold; border:1px solid #DDDDDD; text-shadow: 0 1px 1px #FFFFFF; text-decoration:none;color:#888888;}
.cotext-accordion .title:hover { background: #eee; }
.cotext-accordion .title span:hover { color:#333;}
.cotext-accordion .title span { background: url("../images/accordion-open.png") no-repeat scroll right center transparent; display:block; padding:10px 22px; color:#888888;}
.cotext-accordion .title.active span { color:#333;background: url("../images/accordion-close.png") no-repeat scroll right center transparent; display:block; padding:10px 22px; }
.cotext-accordion .active-div{display:block;}

/*
 *Coolouch Jump Text 动态文字
 */
.cotext-jump{position:relative;margin:20px;}
.cotext-jump *{cursor:pointer;}
.cotext-jump .beat-char {line-height: 3.4em;position: relative;display: inline-block;background: transparent;}
.cotext-jump .rotate{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);-webkit-transition-duration: 0.7s;}

/*
 *Coolouch Hover Text 滑动文本
 */
.cotext-hover{background:#FFF;padding:8px;position:relative;box-shadow:0 1px 3px rgba(221,221,221,1);}
.cotext-hover .text-box,.cotext-hover .text-box img{display:block;position:relative;width:100%}
.cotext-hover .text-box{overflow:hidden;text-decoration:none}
.cotext-hover .text-box div{position:absolute;background:rgba(6,144,56,.85);width:100%;height:100%;padding:5%;color:white;font-size:1em;font-weight:400;}
ul.cotext-hover-container{list-style:none;position:relative;margin:0;padding:0;}
li.cotext-hover{float:left;margin:1.2%;background:#FFF;padding:8px;position:relative;box-shadow:0 1px 3px rgba(221,221,221,1);width:30%}

/**
 * COSelectCity Coolouch 表单
 */
.coform input{border:1px solid #ccc;background:#fff;color:#333;font-size:16px;outline:0;width:160px;height:36px;margin-right:10px;box-shadow:0 0 5px #eee}
.coform label{display:inline;margin:0;cursor:pointer;font-weight:bold;}
.coform {font-size:14px;}
.coform .tag{line-height:40px;font-size:16px;font-weight:600;}
.coform .checkbox-item{display:none}
.coform .checkbox-item+label{background-color:#fafafa;border:1px solid #cacece;box-shadow:0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05);padding:9px;border-radius:3px;display:inline-block;position:relative}
.coform .checkbox-item+label:active,.coform .checkbox-item:checked+label:active{box-shadow:0 1px 2px rgba(0,0,0,.05),inset 0 1px 3px rgba(0,0,0,.1)}
.coform .checkbox-item:checked+label{background-color:#e9ecee;border:1px solid #adb8c0;box-shadow:0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05),inset 15px 10px -12px rgba(255,255,255,.1);color:#99a1a7}
.coform .checkbox-item:checked+label:after{content:'\2714';font-size:14px;position:absolute;top:0;left:3px;color:#99a1a7}
.coform .big-checkbox+label{padding:18px}
.coform .big-checkbox:checked+label:after{font-size:28px;left:6px}
.coform .radio-item{display:none}
.coform .radio-item+label{-webkit-appearance:none;background-color:#fafafa;border:1px solid #cacece;box-shadow:0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05);padding:9px;border-radius:50px;display:inline-block;position:relative}
.coform .radio-item:checked+label:after{content:' ';width:12px;height:12px;border-radius:50px;position:absolute;top:3px;background:#99a1a7;box-shadow:inset 0 0 10px rgba(0,0,0,.3);text-shadow:0;left:3px;font-size:32px}
.coform .radio-item:checked+label{background-color:#e9ecee;color:#99a1a7;border:1px solid #adb8c0;box-shadow:0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05),inset 15px 10px -12px rgba(255,255,255,.1),inset 0 0 10px rgba(0,0,0,.1)}
.coform .radio-item+label:active,.coform .radio-item:checked+label:active{box-shadow:0 1px 2px rgba(0,0,0,.05),inset 0 1px 3px rgba(0,0,0,.1)}
.coform .big-radio+label{padding:16px}
.coform .big-radio:checked+label:after{width:24px;height:24px;left:4px;top:4px}

.coform .co-checkbox,.coform .co-radio{position:relative;font-size:100%}
.coform label.co-checkbox,.coform label.co-radio{display:block;cursor:pointer}
.coform .co-checkbox>input[type=checkbox],.coform .co-radio>input[type=radio]{display:none}
.coform .co-checkbox>input[type=checkbox][disabled],.coform .co-radio>input[type=radio][disabled]{cursor:not-allowed}
.coform .co-checkbox>input[type=checkbox]+.co-checkbox-style,.coform .co-radio>input[type=radio]+.co-radio-style{position:relative;display:inline-block;width:1.4em;height:1.4em;vertical-align:middle;cursor:pointer}
.coform .co-checkbox>input[type=checkbox]+.co-checkbox-style:hover:before,.coform .co-radio>input[type=radio]+.co-radio-style:hover:before{border-color:#b5b5b5}
.coform .co-checkbox>input[type=checkbox]+.co-checkbox-style:before,.coform .co-radio>input[type=radio]+.co-radio-style:before{position:absolute;top:0;left:0;display:inline-block;width:1.4em;height:1.4em;content:'';border:1px solid #C0CCDA}
.coform .co-checkbox>input[type=checkbox]+.co-checkbox-style:after,.coform .co-radio>input[type=radio]+.co-radio-style:after{position:absolute;display:none;content:''}
.coform .co-checkbox>input[type=checkbox][disabled]+.co-checkbox-style,.coform .co-radio>input[type=radio][disabled]+.co-radio-style{cursor:not-allowed;color:#D3DCE6}
.coform .co-checkbox>input[type=checkbox][disabled]+.co-checkbox-style:after,.coform .co-checkbox>input[type=checkbox][disabled]+.co-checkbox-style:before,.coform .co-checkbox>input[type=checkbox][disabled]+.co-checkbox-style:hover,.coform .co-radio>input[type=radio][disabled]+.co-radio-style:after,.coform .co-radio>input[type=radio][disabled]+.co-radio-style:before,.coform .co-radio>input[type=radio][disabled]+.co-radio-style:hover{cursor:not-allowed}
.coform .co-checkbox>input[type=checkbox][disabled]+.co-checkbox-style:hover:before,.coform .co-radio>input[type=radio][disabled]+.co-radio-style:hover:before{border:1px solid #D3DCE6;animation-name:none}
.coform .co-checkbox>input[type=checkbox][disabled]+.co-checkbox-style:before,.coform .co-radio>input[type=radio][disabled]+.co-radio-style:before{border-color:#D3DCE6}
.coform .co-checkbox>input[type=checkbox]:checked+.co-checkbox-style:before,.coform .co-radio>input[type=radio]:checked+.co-radio-style:before{animation-name:none}
.coform .co-checkbox>input[type=checkbox]:checked+.co-checkbox-style:after,.coform .co-radio>input[type=radio]:checked+.co-radio-style:after{display:block}
.coform .co-radio>input[type=radio]+.co-radio-style:before{border-radius:50%}
.coform .co-radio>input[type=radio]+.co-radio-style:after{top:.4em;left:.4em;width:.6em;height:.6em;border-radius:50%;background:#b5b5b5}
.coform .co-radio>input[type=radio]:checked+.co-radio-style:before{border:1px solid #b5b5b5}
.coform .co-radio>input[type=radio]:checked[disabled]+.co-radio-style:before{border:1px solid #e3e3e3}
.coform .co-radio>input[type=radio]:checked[disabled]+.co-radio-style:after{background:#e3e3e3}
.coform .co-checkbox>input[type=checkbox]+.co-checkbox-style:before{border-radius:3px}
.coform .co-checkbox>input[type=checkbox]+.co-checkbox-style:after{top:.15em;left:.5em;box-sizing:border-box;width:.4em;height:.85em;transform:rotate(45deg);border-right:2px solid #fff;border-bottom:2px solid #fff}
.coform .co-checkbox>input[type=checkbox]:checked+.co-checkbox-style:before{border:#b5b5b5;background:#b5b5b5}
.coform .co-checkbox>input[type=checkbox]:checked[disabled]+.co-checkbox-style:before{border:#e3e3e3;background:#e3e3e3}
.coform .co-checkbox.co-checkbox-blue>input[type=checkbox]+label:hover:before,.coform .co-checkbox.co-checkbox-blue>input[type=checkbox]:checked+label:before,.coform .co-radio.co-radio-blue>input[type=radio]+label:hover:before,.coform .co-radio.co-radio-blue>input[type=radio]:checked+label:before{border-color:#20a0ff}
.coform .co-checkbox.co-checkbox-blue>input[type=checkbox]:checked+label:before,.coform .co-radio.co-radio-blue>input[type=radio]+label:after{background:#20a0ff}
.coform .co-checkbox.co-checkbox-blue>input[type=checkbox][disabled]+label:hover:before,.coform .co-radio.co-radio-blue>input[type=radio][disabled]+label:hover:before{border-color:#D3DCE6}
.coform .co-checkbox.co-checkbox-blue>input[type=checkbox]:checked[disabled]+label:before,.coform .co-radio.co-radio-blue>input[type=radio]:checked[disabled]+label:before{border-color:#b0d7f5}
.coform .co-checkbox.co-checkbox-blue>input[type=checkbox][disabled]:checked+label:before,.coform .co-radio.co-radio-blue>input[type=radio]:checked[disabled]+label:after{background:#b0d7f5}
.coform .co-checkbox.co-checkbox-green>input[type=checkbox]+label:hover:before,.coform .co-checkbox.co-checkbox-green>input[type=checkbox]:checked+label:before,.coform .co-radio.co-radio-green>input[type=radio]+label:hover:before,.coform .co-radio.co-radio-green>input[type=radio]:checked+label:before{border-color:#13ce66}
.coform .co-checkbox.co-checkbox-green>input[type=checkbox]:checked+label:before,.coform .co-radio.co-radio-green>input[type=radio]+label:after{background:#13ce66}
.coform .co-checkbox.co-checkbox-green>input[type=checkbox][disabled]+label:hover:before,.coform .co-radio.co-radio-green>input[type=radio][disabled]+label:hover:before{border-color:#D3DCE6}
.coform .co-checkbox.co-checkbox-green>input[type=checkbox]:checked[disabled]+label:before,.coform .co-radio.co-radio-green>input[type=radio]:checked[disabled]+label:before{border-color:#a1efc4}
.coform .co-checkbox.co-checkbox-green>input[type=checkbox][disabled]:checked+label:before,.coform .co-radio.co-radio-green>input[type=radio]:checked[disabled]+label:after{background:#a1efc4}
.coform .co-checkbox.co-checkbox-red>input[type=checkbox]+label:hover:before,.coform .co-checkbox.co-checkbox-red>input[type=checkbox]:checked+label:before,.coform .co-radio.co-radio-red>input[type=radio]+label:hover:before,.coform .co-radio.co-radio-red>input[type=radio]:checked+label:before{border-color:#ff4949}
.coform .co-checkbox.co-checkbox-red>input[type=checkbox]:checked+label:before,.coform .co-radio.co-radio-red>input[type=radio]+label:after{background:#ff4949}
.coform .co-checkbox.co-checkbox-red>input[type=checkbox][disabled]+label:hover:before,.coform .co-radio.co-radio-red>input[type=radio][disabled]+label:hover:before{border-color:#D3DCE6}
.coform .co-checkbox.co-checkbox-red>input[type=checkbox]:checked[disabled]+label:before,.coform .co-radio.co-radio-red>input[type=radio]:checked[disabled]+label:before{border-color:#f9b3b3}
.coform .co-checkbox.co-checkbox-red>input[type=checkbox][disabled]:checked+label:before,.coform .co-radio.co-radio-red>input[type=radio]:checked[disabled]+label:after{background:#f9b3b3}
.coform .co-checkbox.co-checkbox-yellow>input[type=checkbox]+label:hover:before,.coform .co-checkbox.co-checkbox-yellow>input[type=checkbox]:checked+label:before,.coform .co-radio.co-radio-yellow>input[type=radio]+label:hover:before,.coform .co-radio.co-radio-yellow>input[type=radio]:checked+label:before{border-color:#f7ba2a}
.coform .co-checkbox.co-checkbox-yellow>input[type=checkbox]:checked+label:before,.coform .co-radio.co-radio-yellow>input[type=radio]+label:after{background:#f7ba2a}
.coform .co-checkbox.co-checkbox-yellow>input[type=checkbox][disabled]+label:hover:before,.coform .co-radio.co-radio-yellow>input[type=radio][disabled]+label:hover:before{border-color:#D3DCE6}
.coform .co-checkbox.co-checkbox-yellow>input[type=checkbox]:checked[disabled]+label:before,.coform .co-radio.co-radio-yellow>input[type=radio]:checked[disabled]+label:before{border-color:#fbeac1}
.coform .co-checkbox.co-checkbox-yellow>input[type=checkbox][disabled]:checked+label:before,.coform .co-radio.co-radio-yellow>input[type=radio]:checked[disabled]+label:after{background:#fbeac1}
.coform .co-switch,.coform .co-switch-style,.coform .co-switch-style:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.coform .co-switch{display:inline-block;font-size:100%;height:1.6em;position:relative}
.coform .co-switch .co-switch-style{height:1.6em;left:0;background:#C0CCDA;-webkit-border-radius:.8em;border-radius:.8em;display:inline-block;position:relative;top:0;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;width:3em;cursor:pointer}
.coform .co-switch .co-switch-style:before{display:block;content:'';height:1.4em;position:absolute;width:1.4em;background-color:#fff;-webkit-border-radius:50%;border-radius:50%;left:.1em;top:.1em;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.coform .co-switch>input[type=checkbox]{display:none}
.coform .co-switch>input[type=checkbox][disabled]+.co-switch-style{cursor:not-allowed;background-color:#e3e3e3}
.coform .co-switch>input[type=checkbox]:checked+.co-switch-style{background-color:#b5b5b5}
.coform .co-switch>input[type=checkbox]:checked+.co-switch-style:before{left:50%}
.coform .co-switch>input[type=checkbox]:checked[disabled]+.co-switch-style{background-color:#e3e3e3}
.coform .co-switch.co-switch-blue>input[type=checkbox]:checked+.co-switch-style{background-color:#20a0ff}
.coform .co-switch.co-switch-blue>input[type=checkbox]:checked[disabled]+.co-switch-style{background-color:#b0d7f5}
.coform .co-switch.co-switch-green>input[type=checkbox]:checked+.co-switch-style{background-color:#13ce66}
.coform .co-switch.co-switch-green>input[type=checkbox]:checked[disabled]+.co-switch-style{background-color:#a1efc4}
.coform .co-switch.co-switch-red>input[type=checkbox]:checked+.co-switch-style{background-color:#ff4949}
.coform .co-switch.co-switch-red>input[type=checkbox]:checked[disabled]+.co-switch-style{background-color:#f9b3b3}
.coform .co-switch.co-switch-yellow>input[type=checkbox]:checked+.co-switch-style{background-color:#f7ba2a}
.coform .co-switch.co-switch-yellow>input[type=checkbox]:checked[disabled]+.co-switch-style{background-color:#fbeac1}
.coform .co-checkbox.co-checkbox-sm,.coform .co-radio.co-radio-sm,.coform .co-switch.co-switch-sm{font-size:85%}
.coform .co-checkbox.co-checkbox-lg,.coform .co-radio.co-radio-lg,.coform .co-switch.co-switch-lg{font-size:125%}

/**
 * COSelectCity 省市县三级联动 插件
 */
.coselect-city *{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline;border-radius:0;}
.coselect-city a:hover{text-decoration:none;}
.coselect-city .item{border:1px solid #ccc;width:200px;height:36px;line-height:36px;float:left;margin-right:20px;position:relative}
.coselect-city .item:after{content:'';border-right:6px solid transparent;border-left:6px solid transparent;border-top:6px solid #ccc;display:block;width:0;height:0;position:absolute;top:15px;right:5px}
.coselect-city .selector{color:#333;font-size:16px;display:block;text-indent:5%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.coselect-city .selector.df-color{color:#999}
.coselect-city .selector.forbid{cursor:not-allowed}
.coselect-city .selector-list{border:1px solid #ccc;background:#fff;width:100%;position:absolute;top:36px;left:-1px;z-index:1}
.coselect-city ul{max-height:160px;overflow-x:hidden;overflow-y:auto}
.coselect-city li{border-top:1px solid #ccc;color:#333;cursor:pointer;width:100%;padding:0 5%;height:30px;line-height:30px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.coselect-city li:first-child{border-top:none}
.coselect-city li.caller:hover{background:#f5f5f5}
.coselect-city li.caller.active,.coselect-city li.caller.active:hover{background:#3A8EAF;color:#fff}
.coselect-city li.forbid{color:#999;font-size:14px;cursor:not-allowed}
.coselect-city .selector-search{border:1px solid #ccc;border-top:none;background:#f8f8f8;font-size:0;padding:10px 10px 8px 10px;height:46px;margin-left:-1px;margin-right:-1px;overflow:hidden;}
.coselect-city .input-search{border:1px solid #ccc;border-radius:5px;color:#333;font-size:14px;width:100%;height:26px;line-height:26px;padding:0;text-indent:5px;display:inline-block;}
.coselect-city .input-search:focus{outline:0}
.coselect-city .hide{display:none}
.coselect-city select{border:1px solid #ccc;background:#fff;border-radius:5px;color:#333;font-size:16px;outline:0;width:160px;height:36px;margin-right:10px;box-shadow:0 0 5px #eee}

/**
 * COSelectTime 时间选择 插件
 */
.fl { float: left; }
.fr { float: right; }
.clearFix:after { content: " "; display: block; clear: both; height: 0;}
.clearFix { zoom: 1; } /*选择器遮罩*/
.borain-timeChoiceMask { position: fixed; width: 100%; height: 100%; background-image: url(../images/mask-background.png); display: none; z-index: 98; top:0; left: 0; right: 0; bottom: 0;} /*选择器基本样式*/
.borain-timeChoice { font: 12px/1.5 'Microsoft Yahei', 'Simsun'; position: absolute; z-index: 99; left: 250px; top: 150px; font-size: 0; vertical-align: top; display: none;background:#f0f0f0;padding:3px;border:1px solid #ccc;}
.borain-timeChoice .choiceBox { width: 252px; display: inline-block; vertical-align: top; }
.borain-timeChoice .choiceBox .yearBox { font-size: 0; vertical-align: top; background: #ffffff; }
.borain-timeChoice .choiceBox .yearBox .btn { display: inline-block; width: 40px; height: 40px; line-height: 40px; vertical-align: top; font-size: 24px; color: #888; text-align: center;}
.borain-timeChoice .choiceBox .yearBox .btn:hover { color: #1699fe;}
.borain-timeChoice .choiceBox .yearBox .showBox { display: inline-block; height: 40px; line-height: 40px; width: 172px; font-size: 14px; text-align: center; vertical-align: top; }
.borain-timeChoice .choiceBox .yearBox .showBox a { color: #666; text-decoration: none; }
.borain-timeChoice .choiceBox .yearBox .showBox a:hover { color: #333; }
.borain-timeChoice .choiceBox .yearBox .showBox .active { color: #1699fe; }
.borain-timeChoice .choiceBox .yearBox .showBox .active:hover { color: #1699fe; }
.borain-timeChoice .choiceBox .beChoice { display: none; }
.borain-timeChoice .choiceBox .choiceDayBox { padding: 7px; background: #ffffff; margin-top: 2px; display: block; }
.borain-timeChoice .choiceBox .choiceDayBox div { font-size: 0; }
.borain-timeChoice .choiceBox .choiceDayBox div span { display: inline-block; width: 26px; height: 22px; line-height: 22px; font-size: 12px; margin: 3px; text-align: center; cursor: pointer; border: 1px solid #ffffff; }
.borain-timeChoice .choiceBox .choiceDayBox div .not { color: #878787; }
.borain-timeChoice .choiceBox .choiceDayBox div .now { color: #1699fe; }
.borain-timeChoice .choiceBox .choiceDayBox div span:hover { border-color: #999999; }
.borain-timeChoice .choiceBox .choiceDayBox div .ban { color: #999; }
.borain-timeChoice .choiceBox .choiceDayBox .week span { width: 28px; height: 18px; line-height: 18px; border: none; cursor: auto; }
.borain-timeChoice .choiceBox .choiceDayBox .day .active { border-color: #1699fe; color: #1699fe; }
.borain-timeChoice .choiceBox .choiceDayBox .day .nowDay { color: #1699fe; }
.borain-timeChoice .choiceBox .choiceYearBox { padding: 7px; background: #ffffff; margin-top: 2px; }
.borain-timeChoice .choiceBox .choiceYearBox .yearTitle { height: 24px; vertical-align: top; }
.borain-timeChoice .choiceBox .choiceYearBox .yearTitle span { font-size: 14px; color: #666; display: block; height: 24px; line-height: 24px; margin: 0 auto; width: 80px; margin-left: 54px; }
.borain-timeChoice .choiceBox .choiceYearBox .yearTitle span em { color: #666; font-style: normal; }
.borain-timeChoice .choiceBox .choiceYearBox .yearTitle .btn { display: block; width: 28px; height: 24px; line-height: 24px; font-size: 24px; text-align: center; color: #878787;}
.borain-timeChoice .choiceBox .choiceYearBox .yearTitle .btn:hover { color: #1699fe;}
.borain-timeChoice .choiceBox .choiceYearBox .year { margin-top: 5px; height: 175px; }
.borain-timeChoice .choiceBox .choiceYearBox .year span { display: inline-block; width: 47.5px; height: 23px; line-height: 23px; border: 1px solid #ffffff; text-align: center; font-size: 12px; margin: 5px; cursor: pointer; color: #666666; }
.borain-timeChoice .choiceBox .choiceYearBox .year span.not {  color: #999999; }
.borain-timeChoice .choiceBox .choiceYearBox .year span.now {  color: #1699fe; }
.borain-timeChoice .choiceBox .choiceYearBox .year span:hover { border-color: #868686; }
.borain-timeChoice .choiceBox .choiceYearBox .year .active { border-color: #1699fe; color: #1699fe; }
.borain-timeChoice .choiceBox .choiceYearBox .year .nowYear { color: #1699fe; }
.borain-timeChoice .choiceBox .choiceMinBox { margin-top: 2px; padding: 7px; background: #ffffff; }
.borain-timeChoice .choiceBox .choiceMinBox .month span { display: inline-block; width: 47.5px; height: 30px; line-height: 30px; border: 1px solid #ffffff; text-align: center; font-size: 12px; margin: 5px; cursor: pointer; color: #666666; }
.borain-timeChoice .choiceBox .choiceMinBox .month span em { color: #666; font-style: normal; }
.borain-timeChoice .choiceBox .choiceMinBox .month .not { color: #999999; }
.borain-timeChoice .choiceBox .choiceMinBox .month .not em{ color: #999999; }
.borain-timeChoice .choiceBox .choiceMinBox .month .now { color: #1699fe; }
.borain-timeChoice .choiceBox .choiceMinBox .month .now em{ color: #1699fe; }
.borain-timeChoice .choiceBox .choiceMinBox .month .active { border-color: #1699fe; color: #1699fe; }
.borain-timeChoice .choiceBox .choiceMinBox .month .active em { color: #1699fe; }
.borain-timeChoice .choiceBox .choiceMinBox .month .nowMonth { color: #1699fe; }
.borain-timeChoice .choiceBox .choiceMinBox .month .nowMonth em { color: #1699fe; }
.borain-timeChoice .choiceBox .tipBox {font-size: 12px; background: #ffffff; margin-top: 2px; padding: 10px; color: #1699fe;}
.borain-timeChoice .choiceBox .operateBox { display: none; }
.borain-timeChoice .revealBox { display: inline-block; width: 190px; vertical-align: top; }
.borain-timeChoice .revealBox .titleBox { height: 40px; font-size: 14px; background: #ffffff url("../images/reveal-background.png") repeat-y left; line-height: 40px; color: #666; text-indent: 12px; }
.borain-timeChoice .revealBox .nowBox { margin-top: 2px; font-size: 0; color: #666666; background: #ffffff url("../images/reveal-background.png") repeat-y left; padding: 17px 10px; }
.borain-timeChoice .revealBox .nowBox div { display: inline-block; vertical-align: top; }
.borain-timeChoice .revealBox .nowBox div em { color: #1699fe; font-style: normal; display: inline-block; font-size: 14px; height: 15px; line-height: 15px; vertical-align: top; padding-top: 15px; }
.borain-timeChoice .revealBox .nowBox div span { display: inline-block; font-size: 14px; height: 15px; line-height: 15px; vertical-align: top; padding-top: 15px; }
.borain-timeChoice .revealBox .nowBox .nowDay { width: 65px; }
.borain-timeChoice .revealBox .nowBox .nowDay em { font-size: 36px; height: 30px; line-height: 30px; padding-top: 0; margin-right: 5px; }
.borain-timeChoice .revealBox .timeBox { background: #ffffff url("../images/reveal-background.png") repeat-y left; padding: 6px 5px 20px 5px; font-size: 0; display: none; }
.borain-timeChoice .revealBox .timeBox div { display: inline-block; color: #868686; width: 50px; text-align: center; height: 76px; vertical-align: top; margin: 0 10px;}
.borain-timeChoice .revealBox .timeBox div span { display: block; width: 50px; font-size: 24px; letter-spacing: 20px;}
.borain-timeChoice .revealBox .timeBox .punctuation { padding: 26px 0; height: 24px; width: 20px;}
.borain-timeChoice .revealBox .timeBox .punctuation em { display: block; width: 3px; height: 3px; background: #868686; border-radius: 50%; margin: 7px auto;}
.borain-timeChoice .revealBox .timeBox div a { display: block; width: 48px; height: 18px; line-height: 18px; margin: 0 auto; font-size: 16px; border: 1px solid #878787; border-radius: 9px; color: #878787;}
.borain-timeChoice .revealBox .timeBox div a:hover {border-color:#1699fe; color: #1699fe; }
.borain-timeChoice .operateBox { background: #eeeeee; padding: 10px; font-size: 0;}
.borain-timeChoice .revealBox .operateBox { background: #eeeeee url("../images/reveal-background.png") repeat-y left; padding: 15px 15px 15px 15px;}
.borain-timeChoice .operateBox a { display: block; width: 48px; height: 20px; line-height: 20px; font-size: 12px; text-align: center; text-decoration: none; border: 1px solid; border-radius: 10px;}
.borain-timeChoice .operateBox .submit {  color: #1699fe;}
.borain-timeChoice .operateBox .submit:hover { background: #1699fe;  color: #ffffff;}
.borain-timeChoice .operateBox .cancel { color: #999;}
.borain-timeChoice .operateBox .cancel:hover { background: #878787; color: #ffffff;}
.YM .choiceBox .choiceDayBox { display: none; }
.YM .choiceBox .choiceYearBox { display: block; }
.YM .choiceBox .operateBox { display: block; }
.YM .revealBox { display: none;}
.YMD .revealBox .timeBox { display: none; }
.H .revealBox .timeBox { display: block; }
.HM .revealBox .timeBox { display: block; }

/**
 * COModalGalery 弹层览图 插件
 */
.picshade{position:fixed;left:0;top:0;width:100%;height:100%!important;background-color:#000;opacity:.91;filter:alpha(opacity=91);z-index:99;display:none}
.pictures_eyes_close{position:fixed;top:30px;right:30px;display:inline-block;width:30px;height:30px;background:url(../images/close.png) no-repeat;z-index:100;display:none}
.pictures_eyes{position:fixed;width:100%;left:0;top:0;z-index:199;display:none}
.pictures_eyes_in{position:relative;text-align:center}
.pictures_eyes_in img{max-height:500px;max-width:700px}
.pictures_eyes_in .next,.pictures_eyes_in .prev{position:absolute;top:50%;width:51px;height:51px;cursor:pointer}
.pictures_eyes_in .prev{left:35px;background:url(../images/left.png) no-repeat}
.pictures_eyes_in .next{right:35px;background:url(../images/right.png) no-repeat}
.pictures_eyes_indicators{position:fixed;left:0;bottom:15px;width:100%;text-align:center;z-index:299}
.pictures_eyes_indicators a{display:inline-block;width:50px;height:50px;margin:6px 3px 0 3px;border:1px solid #ddd;border-radius:10px;box-shadow:0 0 2px #000;filter:alpha(opacity=50);opacity:.5;overflow:hidden}
.pictures_eyes_indicators img{height:50px}
.pictures_eyes_indicators .current{filter:alpha(opacity=100);opacity:1}
.pictures_eyes_in{position:relative;text-align:center}

.cotext-bottom{position:relative;overflow:hidden;cursor:pointer}
.cotext-bottom img{width:100%;height:100%;}
.cotext-bottom .co-text,.row .product .vm-product-media-container .co-text{opacity:0;visibility:hidden;background:rgba(25,24,24,.8);bottom:0;position:absolute;padding:1.3em 1.3em;width:100%;-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);-webkit-transition:all .5s ease 0s;-moz-transition:all .5s ease 0s;transition:all .5s ease 0s;text-align:left;border-bottom:6px solid #ff4c4c}
.cotext-bottom .co-text .p-desc{color:#a3a3a3;position:relative;display:block;margin-bottom:10px;padding-bottom:10px;font-size:1em}
.cotext-bottom:hover .co-text,.row .product:hover .co-text{opacity:1;visibility:visible;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.co-text h4{color:#fff;font-size:1.2em;text-decoration:none;line-height:1.8em;text-transform:uppercase;font-weight:700}
.co-text p{margin:0;color:#f5f5f5;line-height:1.8em}
.co-text span{color:#7ac143}
